/* Center modals */

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
    background-color: white   !important;
    border: 1px solid black   !important;
    border-radius: 25px         !important;
    box-shadow: 5px 5px black !important;
}


/*Modal CSS*/

.modal-subtitle{
    font-style: italic;
    text-align: center;
}